/*fonts*/

@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik');




/*h */

h1 {
    font-size: 42px;
    text-shadow: white 3px 3px;
    font-family: 'Roboto', cursive;
}

h2 {
    font-size: 36px;
    text-shadow: white 1px 1px;
    font-family: 'Roboto', cursive;

}


/*navbar*/

.navbar {
    background-color: #ccd9ff;
    margin: 0px;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-brand {
    color: #002966;
    font-size: 22px;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-size: 14px;
}

.navbar-default .navbar-text {
    color: black;
}


/*introduction*/

.introduction-container {
    padding-bottom: 80px;
    min-height: 100%;
    min-width: 100%;
    background-image: url(/assets/images/truck_edited.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron {
    background: transparent;
}

/*section*/

.intro {
    text-align: center;
    font-family: 'Roboto', cursive;
}

.intro h2 {
    border-style: inset;
    border-radius: 50px;
}

.button {
    display: flex;
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
    width: 50%;
    background-color: #ccd9ff;
    text-align: center;
    padding: 1em .75em;
    text-decoration: none;
    color: #002966;
}

.ex-button {
    display: flex;
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
    width: 50%;
    background-color: #ccd9ff;
    text-align: center;
    padding: 1em .75em;
    text-decoration: none;
    color: #002966;
    padding-bottom: 10px;
}

.licences {
    flex: 1 0 auto;
    display: none;
    font-family: 'Rubik', cursive;
}

.courses {
    flex: 1 0 auto;
    display: none;
    font-family: 'Rubik', cursive;
}

.certificates {
    flex: 1 0 auto;
    display: none;
    font-family: 'Rubik', cursive;
}

.experience {
    flex: 1 0 auto;
    display: none;
    font-family: 'Rubik', cursive;
}

/*contact page*/
.center-form {
    padding-top: 10px;
    margin: 20px auto;
    max-width: 70%;
}

a[type='sumbit'] {
    margin-top: 15px;
    margin-bottom:20px;
    background-color: #e84610;
    color: #fafafa;

}


/*footer*/

footer {
    background-color: #ccd9ff;
    color: #fafafa;
    min-height: 40px;
    margin-top: 30px;
}



.social-links {
    text-align: right;
    padding: 25px;

}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: black;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #002966;
}
